<article class="card">
    <div class="text">
      <h3><strong>{{offer.title}}</strong></h3>
      <p><strong>Category:</strong> {{offer.category}}</p>
      <p><strong>Type:</strong> {{offer.type}}</p>
      <p><strong>Description:</strong> {{offer.description}}</p>
      <p><strong>Candidates:</strong> {{offer.candidates.length || 0}}</p>
      <p *ngIf="user.id == offer.creatorId"><strong>Is active:</strong> {{offer.isActive}}</p>
      <p *ngIf="offer.candidateIds.includes(user.id)">Are you approved: <strong [ngClass]="{'approved': offer.approvedIds.includes(user.id) === true}">{{offer.approvedIds.includes(user.id)}}</strong></p>
      <button *ngIf="user.role == 'user'" (click)="onClick()">Candidate</button>
      <a 
      [routerLink]= "['/offers', 'edit', offer.id]">
      <button *ngIf="user.id == offer.creatorId">Edit</button>
    </a>
    <button *ngIf="user.id == offer.creatorId" (click)="onDelete()" class="deleteBtn">Delete</button>
    </div>
  </article>